:root {
  --fuenteTitulos: "Courgette", cursive;
  --fuenteGenerica: "Work Sans", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--fuenteGenerica);
}

h1 {
  font-family: "Courgette", cursive;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
